$primary-bg: linear-gradient(53.1deg, #EAEDF6 0%, #F8F9FD 81.36%);
$primary-font-color: #182456;
$card-bg: #fff;


$alsace-main: #7EEEC5;
$bordeaux-main: #E26D97;
$champagne-main: #E9612C;
$italy-main: #3164D1;
$loire-main: #EABB64;

$alsace-light: #7EEEC51E;
$bordeaux-light: #E26D971E;
$champagne-light: #E9612C1E;
$italy-light: #3164D11E;
$loire-light: #EABB641E;